body {
  width:100%;
  height:100%;
  margin: 0;
  position: absolute;
}

.app-container {
  width:100%;
  height:100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}